{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="text-center mt-3">
            <div class="col-md-5 ">
                <img src="https://i.postimg.cc/TY8rvyDr/logo.jpg" class="img-fluid w-100">
            </div>
            <div class="bg-success p-5" style="opacity: 0.9; width: 53%; height: 25rem; position: absolute; top:23%; left: 39%">
                <h3 style="opacity: 1; color:black;" class="text-start mb-5">Discover MobileXpress:<br>Your Trusted Mobile Phone Source!</h3>
                <p style="opacity: 1; color:black; font-size: 1.3rem" class="text-start mt-5">Welcome to MobileXpress! We are your trusted source for the latest mobile phones. Find the perfect device for your needs from top brands like Apple, Samsung, and more. With competitive prices and exceptional customer service,we make mobile shopping a breeze. Start exploring now!</p>
            </div>
        </div>
    </div>
{% endblock %}