<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MobileXpress</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <style>
        .navbar-brand{
            font-family: Saira Condensed;
        }
    </style>

</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link navbar-brand  text-white" aria-current="page" href="{% url 'home' %}">MobileXpress</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-white" href="{% url 'about_us' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'store' %}">Store</a>
                </li>
                {% if user.is_authenticated and not user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'my_orders' %}">My orders</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated and user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'admin_orders' %}">Admin Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'add_product' %}">Add Product</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated and not user.is_superuser %}
                <a class="nav-link text-white me-3" style="text-decoration: underline" href="{% url 'shopping_cart' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    Shopping Cart
                </a>
            {% endif %}
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link text-white" style="text-decoration: underline" href="/admin/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                                Admin Panel
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border bg-light text-dark rounded-pill pt-0 pb-0 pl-1 pr-1 me-3 mt-2" href="{% url 'profile' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                </svg>
                                Seller
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link border bg-light text-dark rounded-pill pt-0 pb-0 pl-1 pr-1 me-3 mt-2" href="{% url 'profile' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                </svg>
                                Profile
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-white border bg-success text-white rounded-pill pt-0 pb-0 pl-1 pr-1 mt-2" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" style="text-decoration: underline" href="{% url 'login' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                </svg>
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border bg-success text-white rounded-pill pt-0 pb-0 pl-1 pr-1 mt-2" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-3 pb-3" style="min-height: 600px;">
    {% block content %}
    {% endblock %}
</div>

<footer class="text-center text-white pt-4 pb-3" style="background: black;">
    <p>&copy MobileXpress All Rights Reserved</p>
</footer>

</body>
<script>
        let element = document.getElementById("home");
        let parentElement = element.parentNode;
        parentElement.classList.remove("container");
</script>
</html>