{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="text-center">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Are you sure you want to delete the following product?</h3>
            <div class="row mb-3">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ MEDIA_URL }} {{ phone.phone.url }}" alt="" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5>{{ phone.name }}</h5>
                            <p>{{ phone.price }} MKD</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <a href="{% url 'store' %}" class="btn btn-outline-success " style="width: 16%">Cancel</a>
            <button type="submit" class="btn btn-danger" style="width: 16%">Delete</button>
        </form>
    </div>

{% endblock %}