{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="row">
        {% for phone in phones %}
            <div class="col-md-3">
                <div class="card mb-3">
                        <img src="{{ MEDIA_URL }} {{ phone.phone.url }}" alt="" class="card-img-top img-fluid pt-3" style="object-fit: cover;height: 20rem; width: 20rem;">
                    <div class="card-body">
                        <hr/>
                        <h4>{{ phone.name }}</h4>
                        <hr/>
                        <div class="row">
                            <div class="col-md-5"><p><span class="fw-bold">Price:</span><br>{{ phone.price }} MKD</p></div>
                            <div class="col-md-7"> <a class="btn btn-success w-100 mt-1" href="{% url 'details' phone.id %}">Details</a></div>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                        <a class="btn btn-danger"  href="{% url 'delete_product' phone.id %}"
                           style="position:absolute; right: 3%; top: 3%; border-radius: 100%">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-x-circle"  viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}